ansible-runner==2.4.0
asgiref==3.4.1
Django==3.2.25
docutils==0.21.2
Faker==25.4.0
lockfile==0.12.2
packaging==24.0
pexpect==4.9.0
pillow==10.3.0
ptyprocess==0.7.0
python-daemon==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.1.1
