<!-- templates/computers/index.html -->
{% extends 'computers/base.html' %}
{% load static %}

{% block content %}
<style>
    .grid-container {
        overflow: auto;
        max-height: 80vh; /* Ajustar según sea necesario */
    }
    .computers-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
        overflow: auto;
    }
    .computer-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        cursor: pointer;
        transition: transform 0.2s;
    }
    .computer-icon img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    .computer-icon:hover {
        transform: scale(1.05);
    }
    @media (max-width: 768px) {
        .computer-icon img {
            width: 60px;
            height: 60px;
        }
    }
</style>

<div class="grid-container">
    <div class="computers-grid" id="computersGrid">
        {% for computer in computers %}
            <div class="computer-icon" id="{{ computer.name }}" onclick="showComputerDetails('{{ computer.id }}')">
                <img src="{% static 'img/' %}{{ computer.icon }}" alt="{{ computer.name }}">
                <p>{{ computer.name }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    function positionComputers() {
        const computers = document.querySelectorAll('.computer-icon');
        computers.forEach(computer => {
            const name = computer.id;
            const pos = name.split('-')[2];

            let fila, columna;

            if (pos === '00') {
                fila = 1;
                columna = 1;
            } else {
                fila = parseInt(pos[0]) + 1;
                columna = parseInt(pos[1]);
            }

            computer.style.gridRowStart = fila;
            computer.style.gridColumnStart = columna;
        });
    }

    document.addEventListener('DOMContentLoaded', positionComputers);

    function showComputerDetails(computerId) {
        fetch(`/get-computer-details/${computerId}/`)
            .then(response => response.json())
            .then(data => {
                const computerDetailsContainer = document.getElementById('computerDetailsContainer');
                const noComputerSelectedMessage = document.getElementById('noComputerSelectedMessage');
                const computerDetails = document.getElementById('computerDetails');
                
                const isOn = data.state === true || data.state === "True" || data.state === "true";
                const estado = isOn ? "ON" : "OFF";
                const computer_data = encodeURIComponent(JSON.stringify({
                    'id': data.id,
                    'name': data.name,
                    'state': estado,
                    'mac': data.mac,
                    'ip': data.ip,
                    'warning': data.warning,
                    'exam_mode': data.exam_mode
                }));
                
                computerDetails.innerHTML = `
                    <p><strong>Nombre:</strong> ${data.name}</p>
                    <p><strong>Estado:</strong> ${estado}</p>
                    <p><strong>MAC:</strong> ${data.mac}</p>
                    <p><strong>IP:</strong> ${data.ip}</p>
                    <p><strong>Warning:</strong> ${data.warning}</p>
                `;

                noComputerSelectedMessage.style.display = 'none';
                computerDetails.style.display = 'block';
                openRightSidebar();

                const sidebarBody = document.querySelector('.sidebar-body');
                sidebarBody.innerHTML = `
                    <h5>Actions</h5>
                    <button class="btn btn-success mb-2" onclick="turnOnComputer('${computer_data}')">Turn ON</button>
                    <button class="btn btn-danger mb-2" onclick="turnOffComputer('${computer_data}')">Turn OFF</button>
                    <button class="btn ${data.exam_mode ? 'btn-secondary' : 'btn-dark'}" onclick="toggleExmMode('${computer_data}')">
                        ${data.exam_mode ? 'Deactivate Exm Mode' : 'Activate Exm Mode'}
                    </button>
                    <button class="btn btn-warning mb-2" onclick="upgradeComputer('${computer_data}')">Upgrade</button>
                    <button class="btn btn-warning mb-2" onclick="executeCommand('${computer_data}')">Execute Command</button>
                    <button class="btn ${data.warning ? 'btn-danger' : 'btn-secondary'}" onclick="toggleWarning('${computer_data}')">
                        ${data.warning ? 'Disable Warning' : 'Enable Warning'}
                    </button>
                `;
            })
            .catch(error => console.error('Error:', error));
    }

    function turnOnComputer(computerInfoEncoded) {
        const computerInfo = JSON.parse(decodeURIComponent(computerInfoEncoded));
        console.log("Encendiendo el ordenador:", computerInfo.name);
        executePlaybook('up_computers_down.yml', computerInfo.name);    
    }

    function turnOffComputer(computerInfoEncoded) {
        const computerInfo = JSON.parse(decodeURIComponent(computerInfoEncoded));
        console.log("Apagando el ordenador:", computerInfo.name);
        executePlaybook('down_computers_up.yml', computerInfo.name);
    }

    function upgradeComputer(computerInfoEncoded) {
        const computerInfo = JSON.parse(decodeURIComponent(computerInfoEncoded));
        console.log("Actualizando el ordenador:", computerInfo.name);
        const command = prompt('Introduce a value for COMMAND (optional):');
        console.log("Command: ", command)
        executePlaybook('upgrade_machines.yml', computerInfo.name, command)
    }

    function executePlaybook(playbook, hostname, customCommand = null) {
        showLoadingOverlay(` | Ejecutando ${playbook} en ${hostname} | `);

        const data = {
            custom_command: customCommand
        };

        fetch(`/execute-playbook/${playbook}/${hostname}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.output) {
                console.log(data.output);
                alert("Playbook ejecutado correctamente. Espere unos minutos antes de realizar el siguiente paso.");
            } else if (data.error) {
                console.error(data.error);
                alert("Error al ejecutar el playbook: " + data.error);
            }
        })
        .catch(error => console.error('Error:', error))
        .finally(() => {
            hideLoadingOverlay();
        });
    }

    function showLoadingOverlay(name_function = null) {
        const loadingMessage = document.getElementById('loadingMessage');
        loadingMessage.textContent = name_function ? `Executing ${name_function}...` : 'Executing functionality...';
    
        const loadingOverlay = document.getElementById('loadingOverlay');
        loadingOverlay.style.display = 'block';
    }
    
    function hideLoadingOverlay() {
        const loadingOverlay = document.getElementById('loadingOverlay');
        loadingOverlay.style.display = 'none';
    }

    function executeCommand(computerInfoEncoded) {
        const computerInfo = JSON.parse(decodeURIComponent(computerInfoEncoded));
        const command = prompt('Introduce a value for COMMAND:');
        const hostname = computerInfo.name

        const requestData = {
            command: command,
            hostname: hostname
        };

        if (requestData) {
            showLoadingOverlay(`Running Execute Command for ${hostname}...`);

            fetch('/execute-command/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(requestData)
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message || data.error || 'Error desconocido');
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al ejecutar el comando');
            })
            .finally(() => {
                hideLoadingOverlay();
            });
        } else {
            alert('You need to introduce command to execute this functionality.');
        }
    }

    function toggleWarning(computerInfoEncoded) {
        const computerInfo = JSON.parse(decodeURIComponent(computerInfoEncoded));
        const computerId = computerInfo.id

        fetch(`/toggle-warning/${computerId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                alert('Error toggling warning');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred in toggleWarning function');
        });
    }

    function toggleExmMode(computerInfoEncoded) {
        const computerInfo = JSON.parse(decodeURIComponent(computerInfoEncoded));
        const computerId = computerInfo.id;

        if (requestData) {
            showLoadingOverlay(`Running Toggle Exm Mode for ${hostname}...`);

            fetch(`/toggle-exam-mode/${computerId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload();
                } else {
                    alert('Error toggling Exam Mode');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error ocurred in toggleExmMode function');
            })
            .finally(() => {
                hideLoadingOverlay();
            });
        } else {
            alert('Error in get the computer information.');
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }   
        return cookieValue;
    }

    function openRightSidebar() {
        const rightSidebar = document.getElementById('rightSidebar');
        rightSidebar.style.right = '0';
    }

    function closeRightSidebar() {
        const rightSidebar = document.getElementById('rightSidebar');
        rightSidebar.style.right = '-300px';
    }
</script>
{% endblock %}
