/* frontend/static/css/styles.css */
.iconos-ordenadores {
    display: flex;
    flex-wrap: wrap;
  }
  
.icono-ordenador {
    margin: 10px;
    text-align: center;
}

.icono-ordenador img {
    width: 40px; 
    height: 40px;
}

.menu-lateral {
    padding: 15px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    height: 100vh;
    overflow-y: auto;
}
  